.env.*
.env/
__pycache__/
.vscode/
.idea/
.vscode/settings.json
.idea/workspace.xml
.DS_Store
.pytest_cache/
secret_key.txt
*/migrations/*.py
*/migrations/*.db
venv/
env/
staticfiles/
media/
logs/
.vscode/
.idea/
*.pyc
__pycache__/
.ropeproject/
db.sqlite3
.env
schema.yml
